.avatar {
  border-radius: 50%;
  background-color: #5183fe;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  flex-shrink: 0;
}

.avatar-small {
  width: 40px;
  height: 40px;
  font-size: 16px;
}

.avatar-medium {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.avatar-large {
  width: 100px;
  height: 100px;
  font-size: 50px;
}
